@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

body {
  font-family: 'Montserrat', sans-serif;
  background: #ecf0f1;
}

header {
  text-align: center;
}

header h1 {
  font-size: 5rem;
  font-weight: 300;
  margin: 5vh 0 0 0;
  color: #2c3e50;
}

header h1 span {
  font-weight: 700;
}

header h2 {
  font-size: 0.75rem;
  color: #9aa1a5;
  font-weight: 300;
}

.form {
  width: 100%;
  margin-bottom: 1rem;
}

.input {
  font: 300 1.2rem 'Ubuntu', sans-serif;
  color: #34495e;
  width: 100%;
  height: 2rem;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid #34495e;
}

ul,
ol {
  list-style-position: inside;
}

.list {
  width: 95%;
}

.task {
  color: #34495e;
  padding-left: 0.5rem;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  overflow-x: hidden;
}

.task:hover {
  background: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.task:hover span {
  opacity: 1;
}

.done {
  text-decoration: line-through;
  color: #bdc3c7;
}

.icon {
  float: right;
  margin-right: 1rem;
  color: #c0392b;
  transition: all 0.3s;
  opacity: 0;
}

.icon.edit {
  color: #58b2dc;
}

.icon:focus {
  border: none;
  outline: 0;
}

.edit-todo {
  width: 85%;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  transition: 0.6s;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}

.edit-todo:focus {
  outline: none;
  border-bottom: 1px solid #58b2dc;
}

@media screen and (max-width: 650px) {
  .edit-todo {
    width: 70%;
  }
}

article {
  display: grid;
  grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
}

article * {
  grid-column: start / end;
}

@media (max-width: 8.5in) {
  article {
    grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;
  }
}

.button {
  display: inline-block;
  margin: 0 4px;
  padding: 2px 8px;
  font-size: 13px;
  color: #6c6777;
  background: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

.button.selected {
  color: #fff;
  background: #6c6777;
}

.button.clear {
  float: right;
  color: #fff;
  background: #ee1630;
}

a,
a:visited,
a:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
  color: #81b3d2;
}